<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Sistema Inova</title>
    
    <link rel="stylesheet" href="public/styles/reset.css">
    <link rel="stylesheet" href="public/styles/public-policy.css"> 
    
    <link rel="icon" href="public/icons/favicon.ico" type="image/x-icon">
</head>
<body class="dark-theme">
    
    <div class="policy-container">
        {{{body}}}
    </div>

</body>
</html>