{{!-- views/product-sync/index.handlebars --}}
<div class="content-card">
    <h2>Sincronizar Produtos do Bling por Planilha</h2>
    <p>Faça o upload dos relatório de produtos atualizados</p>

    {{> messages}} {{!-- Inclui o partial para exibir mensagens flash --}}

    <form action="/product-sync/upload" method="POST" enctype="multipart/form-data" class="mt-3">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="planilhaLucas" class="form-label">Planilha Conta Lucas:</label>
                <input class="form-control" type="file" id="planilhaLucas" name="planilhaLucas" accept=".xlsx, .xls">
            </div>
            <br>
            <div class="col-md-6 mb-3">
                <label for="planilhaEliane" class="form-label">Planilha Conta Eliane:</label>
                <input class="form-control" type="file" id="planilhaEliane" name="planilhaEliane" accept=".xlsx, .xls">
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-success-alt">
            <i class="fas fa-sync-alt"></i> Sincronizar Produtos
        </button>
         <div class="form-text mt-2">Toda sincronização ocorrerá em segundo plano. Você pode continuar usando o sistema à vontade.</div>
    </form>
</div>

{{#section 'scripts'}}
    <script src="/public/scripts/productSyncManager.js"></script>
{{/section}}
